<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        Main
    </title>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c01b4bce71.js" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <script
        src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
        type='text/css' />
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
        type="text/css" />
    <link rel='stylesheet' href="../public/stylesheets/main.css" />

</head>

<body>
    <header>
        <!-- Modal -->
        <div class="modal fade bg-transparent" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <%- include("./parts/login") %>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main>
        <div id="map-container">

            <!-- The form -->
            <div id="form-container">
                <form class="example">
                    <button id="bars" onclick="showList()"> <i class="fas fa-bars"></i> </button>
                </form>

                <% if (USUARIO) { %>
                <a class="nav-link mr-3" id="dashboard" href="/usuario/dashboard">
                    <i class="far fa-user"></i>
                    <%= USUARIO.nome %>
                </a>
                <% } else { %>

                <button type="button" id="entrar" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Entrar
                </button>

                <% } %>
                <a id="home" href="/">
                    <i class="fas fa-home"></i>
                </a>




            </div>
            <%# MAP %>
            <div id='map'></div>
        </div>
    </main>
    <aside id="sidebar">
        <ol class="posto">

            <% for( const posto of postos ) { %>

            <li>
                <div class="container grey">
                    <div class="part1">
                        <!-- heart image -->
                        <% if (USUARIO) { %>
                        <% var favorito = "far" %>
                        <% posto.usuarios.forEach(usuario => { %>
                        <% if (USUARIO.id == usuario.id ) { %>
                        <% favorito = "fas" %>
                        <% } else { %>
                        <% } %>
                        <% }) %>
                        <span>
                            <a href="/usuario/dashboard/favoritos/add/<%=posto.id%>">
                                <i class="<%=favorito%> fa-heart"></i>
                            </a>
                        </span>
                        <% } else { %>

                        <span>
                            <a href="/usuario/dashboard/favoritos/add/<%=posto.id%>">
                                <i class="far fa-heart"></i>
                            </a>
                        </span>

                        <% } %>
                        <div class="logoComEndereco">
                            <div class="circle">
                                <svg width="98" height="98" viewBox="0 0 98 98" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g filter="url(#filter0_d)">
                                        <circle cx="49" cy="45" r="45" fill="white" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_d" x="0" y="0" width="98" height="98"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feColorMatrix in="SourceAlpha" type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                            <feOffset dy="4" />
                                            <feGaussianBlur stdDeviation="2" />
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                            <feBlend mode="normal" in2="BackgroundImageFix"
                                                result="effect1_dropShadow" />
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow"
                                                result="shape" />
                                        </filter>
                                    </defs>
                                </svg>


                                <% if (posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","") == "petrobras" ||
                                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "ipiranga" || 
                                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "raizen" || 
                                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "alesat") { %>
                                <div class="img">
                                    <img src="/images/<%=posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","")%>.png"
                                        alt="<%=posto.bandeira%>">
                                </div>
                                <% } else { %>
                                <div class="img">
                                    <img src="/images/branca.png" alt="Branca">
                                </div>
                                <% } %>
                            </div>
                            <div class="nomeComEndereço">
                                <div class="stars">

                                    <% for( let i = 0; i < parseInt(posto.media); i++ ) { %>
                                    <i class="fas fa-star"></i>
                                    <% } %>

                                    <% for( let i = 0; i < posto.media-parseInt(posto.media) ; i++ ) { %>
                                    <i class="fas fa-star-half-alt"></i>
                                    <% } %>

                                    <% for( let i = 0; i < 5-Math.ceil(posto.media) ; i++ ) { %>
                                    <i class="far fa-star"></i>
                                    <% } %>
                                </div>
                                <strong>
                                    <%=posto.nome%>
                                </strong>
                                <p>
                                    <%= posto.endereco %>, <%= posto.bairro %>,
                                    <%= posto.cidade %>-<%= posto.estado %> - <%=posto.cep%>
                                </p>

                            </div>
                        </div>

                    </div>
                    <hr class="vertical">
                    <div class="part2">
                        <div class="distance">
                            <p class="distanceNumber">2</p>
                            <p class="distanceText">km distante</p>
                        </div>
                        <hr class="horizontal">
                        <div class="priceDetails">

                            <p class="date"><%=posto.update_time%></p>

                            <p class="price high">
                                <%= posto.produtos[0].postos_produtos.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.',',') %>
                            </p>
                            <div class="symbol">
                                <span>
                                    <i class="fas fa-gas-pump"></i>
                                </span>
                                <span>R$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <% } %>

        </ol>
    </aside>

    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/map.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>


</html>