<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        Main
    </title>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c01b4bce71.js" crossorigin="anonymous" defer></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js' defer></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'
        defer></script>
    <link rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
        type='text/css' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"
        defer></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
        type="text/css" />
    <link rel='stylesheet' href="../public/stylesheets/main.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
<<<<<<< HEAD
    <script src="https://unpkg.com/feather-icons" defer></script>
=======

    <script src="/javascripts/main.js" defer></script>

    <script src="/javascripts/map.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"
        defer></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js" defer></script> -->
    <!-- <script src="https://unpkg.com/feather-icons" defer></script>
>>>>>>> 1ab6831015d9ccf63941f8511c9cf00c8e54ed15
    <script defer>
        feather.replace()
    </script>


</head>

<body>
    <header>
        <!-- Modal -->
        <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-transparent">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <%- include("./parts/login") %>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main>
        <div id="map-container">

            <!-- The form -->
            <div id="form-container">
                <form class="example">
                    <button id="bars" onclick="showList()"> <i class="fas fa-bars"></i> </button>
                </form>

                <% if (USUARIO) { %>
                <a class="nav-link mr-3" id="dashboard" href="/usuario/dashboard">
                    <i class="far fa-user"></i>
                    <%= USUARIO.nome %>
                </a>
                <% } else { %>

                <button type="button" id="entrar" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Entrar
                </button>

                <% } %>
                <a id="home" href="/">
                    <i class="fas fa-home"></i>
                </a>




            </div>
            <%# MAP %>
            <div id='map'></div>
        </div>
    </main>
    <aside id="sidebar">
        <ol class="posto">

            <% for( const posto of postos ) { %>

            <li>
                <div class="container grey">
                    <div class="part1">
                        <div class="likes my-2 h5">
                            <!-- heart image -->
                            <% if (USUARIO) { %>
                            <% var favorito = "far" %>
                            <% posto.usuarios.forEach(usuario => { %>
                            <% if (USUARIO.id == usuario.id ) { %>
                            <% favorito = "fas" %>
                            <% } else { %>
                            <% } %>
                            <% }) %>
                            <span>
                                <a href="/usuario/dashboard/favoritos/add/<%=posto.id%>">
                                    <i class="<%=favorito%> fa-heart user-fav"></i>
                                </a>
                            </span>
                            <% } else { %>

                            <span>
                                <a href="/usuario/dashboard/favoritos/add/<%=posto.id%>">
                                    <i class="far fa-heart not-user-fav"></i>
                                </a>
                            </span>

                            <% } %>

                            <span class="ml-1">
                                <%=posto.usuarios.length%> likes
                            </span>

                            <a class="ml-lg-2" type="button" data-toggle="modal"
                                data-target="#alterar-avaliacao<%=posto.id%>">
                                <i class="far fa-comment"></i>
                                <span class="ml-1">
                                    <%=posto.avaliacoes.length%> comentários
                                </span>
                            </a>
                        </div>
                        <div class="logoComEndereco">
                            <div class="circle">
                                <svg width="98" height="98" viewBox="0 0 98 98" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g filter="url(#filter0_d)">
                                        <circle cx="49" cy="45" r="45" fill="white" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_d" x="0" y="0" width="98" height="98"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feColorMatrix in="SourceAlpha" type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                            <feOffset dy="4" />
                                            <feGaussianBlur stdDeviation="2" />
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                            <feBlend mode="normal" in2="BackgroundImageFix"
                                                result="effect1_dropShadow" />
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow"
                                                result="shape" />
                                        </filter>
                                    </defs>
                                </svg>


                                <% if (posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","") == "petrobras" ||
                                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "ipiranga" || 
                                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "raizen" || 
                                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "alesat") { %>
                                <div class="img">
                                    <img src="/images/<%=posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","")%>.png"
                                        alt="<%=posto.bandeira%>">
                                </div>
                                <% } else { %>
                                <div class="img">
                                    <img src="/images/branca.png" alt="Branca">
                                </div>
                                <% } %>
                            </div>
                            <div class="nomeComEndereço">
                                <a type="button" data-toggle="modal" data-target="#alterar-avaliacao<%=posto.id%>">
                                    <div class="stars">

                                        <% for( let i = 0; i < parseInt(posto.media); i++ ) { %>
                                        <i class="fas fa-star"></i>
                                        <% } %>

                                        <% for( let i = 0; i < posto.media-parseInt(posto.media) ; i++ ) { %>
                                        <i class="fas fa-star-half-alt"></i>
                                        <% } %>

                                        <% for( let i = 0; i < 5-Math.ceil(posto.media) ; i++ ) { %>
                                        <i class="far fa-star"></i>
                                        <% } %>
                                    </div>
                                </a>

                                <!-- Modal -->
                                <div class="modal fade " id="alterar-avaliacao<%=posto.id%>" tabindex="-1" role="dialog"
                                    aria-labelledby="alterar-avaliacao" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <div class="modal-body">
                                                <form id="form-posto-<%=posto.id%>" class="text-center rating"
                                                    action="/usuario/avaliacoes/add" method="GET">
                                                    <label for="text">O que deseja falar sobre esse posto?</label>

                                                    <div id="nota-stars-container" class="stars">
                                                        <button type="submit" class="star" data-star="1">
                                                            <span aria-hidden="true">&#9733;</span>
                                                            <span class="screen-reader">1 Star</span>
                                                        </button><button type="submit" class="star" data-star="2">
                                                            <span aria-hidden="true">&#9733;</span>
                                                            <span class="screen-reader">2 Stars</span>
                                                        </button><button type="submit" class="star" data-star="3">
                                                            <span aria-hidden="true">&#9733;</span>
                                                            <span class="screen-reader">3 Stars</span>
                                                        </button><button type="submit" class="star" data-star="4">
                                                            <span aria-hidden="true">&#9733;</span>
                                                            <span class="screen-reader">4 Stars</span>
                                                        </button><button type="submit" class="star" data-star="5">
                                                            <span aria-hidden="true">&#9733;</span>
                                                            <span class="screen-reader">5 Stars</span>
                                                        </button>
                                                    </div>

                                                    <textarea class="form-control" name="texto" id="text" cols="40"
                                                        rows="5"></textarea>
                                                    <input type="hidden" name="id" value="<%=posto.id%>">

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                            Fechar
                                                        </button>
                                                    </div>
                                                </form>
                                                <button class="btn btn-posto salvar-form" type="submit">Salvar</button>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Últimos comentários:</h3>
                                                <ul>
                                                    <% posto.avaliacoes.forEach((avaliacao) => { %>
                                                    <li>

                                                        <p>
                                                            <% if (USUARIO) { %>
                                                            <% if (USUARIO.nome == avaliacao.nome) { %>
                                                            <strong>Você</strong>
                                                            <% } else { %>
                                                            <strong><%=avaliacao.nome%></strong>
                                                            <% } %>
                                                            <span> <%=avaliacao.Avaliacoes.texto%></span>
                                                            <% } else { %>
                                                            <strong><%=avaliacao.nome%></strong>
                                                            <span> <%=avaliacao.Avaliacoes.texto%></span>
                                                            <% } %>
                                                        </p>
                                                    </li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <strong>
                                        <%=posto.nome%>
                                    </strong>
                                </p>
                                <p>
                                    <%= posto.endereco %>, <%= posto.bairro %>,
                                    <%= posto.cidade %>-<%= posto.estado %> - <%=posto.cep%>
                                </p>

                            </div>
                        </div>

                    </div>
                    <hr class="vertical">
                    <div class="part2">
                        <div class="distance">
                            <p class="distanceNumber">2</p>
                            <p class="distanceText">km distante</p>
                        </div>
                        <hr class="horizontal">
                        <div class="priceDetails">

                            <p class="date"><%=posto.update_time%></p>

                            <a class="price high" type="button" data-toggle="modal"
                                data-target="#alterar-preco-<%=posto.id%>">
                                <%= posto.produtos[0].postos_produtos.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.',',') %>
                            </a>

                            <!-- Modal -->
                            <div class="modal fade " id="alterar-preco-<%=posto.id%>" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="modal-body">
                                            <form id="form-atualizar-preco-<%=posto.id%>" class="text-center"
                                                action="/posto/preco/atualizar" method="GET">
                                                <strong><label for="preco">O preço está incorreto? Atualize digitando o
                                                        valor
                                                        correto abaixo:</label></strong>
                                                <input class="form-control w-50 mx-auto my-3" type="number" name="preco"
                                                    id="preco" min="0" step="0.001" pattern="^\d*(\.\d{0,2})?$"
                                                    value="<%=posto.produtos[0].postos_produtos.preco%>">
                                                <input type="hidden" name="postos_id" value="<%=posto.id%>" required>
                                                <input type="hidden" name="produtos_id"
                                                    value="<%=posto.produtos[0].postos_produtos.produtos_id%>">
                                                <div class="modal-footer">
                                                    <button class="btn btn-posto" type="submit">Salvar</button>

                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                        Fechar
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="symbol">
                            <span>
                                <i class="fas fa-gas-pump"></i>
                            </span>
                            <span>R$</span>
                        </div>
                    </div>
                </div>
                </div>
            </li>

            <% } %>

        </ol>
    </aside>




</body>


</html>