<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
<link rel="stylesheet" href="../public/stylesheets/servicos.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">

    <form action="#" method="GET" class="form-group">
      <select class="form-control" id="servicos" name="servicos">
        <option value="borracharia">Borracharia</option>
        <option value="conveniencia">Conveniência</option>
        <option value="gasDeCozinha">Lavagem</option>
      </select>
      <input class="form-control" type="text" id="local" name="local" placeholder="Digite o endereço">
      <input type="submit" value="Buscar" class="busca">
    </form>

    <% postos.forEach(posto => {  %>

    <div class="content">
      <div class="card">
          <% if
          (posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "").replace(" distribuidora s.a.","") == "petrobras" ||
          posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "") == "ipiranga" ||
          posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "") == "raizen" ||
          posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "") == "alesat") { %>
        <div class="img">
          <img class= "logo" src="/images/<%=posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
            "").replace(" distribuidora s.a.","")%>.png" alt="<%=posto.bandeira%>">
        </div>
        <% } else { %>
        <div class="img">
          <img class="logo" src="/images/branca.png" alt="Branca" />
        </div>
        <% } %>

        <div class="texto">
          <h7><%= posto.nome %></h7><br>
          <%= posto.endereco %>, <%= posto.bairro %>, <%= posto.cidade %>-<%= posto.estado %><br>
         
         
          <div class="stars">
            <span class="d-none">
              <%=posto.media%>
            </span>
            <% for( let i = 0; i < parseInt(posto.media); i++ ) { %>
            <i class="fas fa-star"></i>
            <% } %> <% for( let i = 0; i <
              posto.media-parseInt(posto.media) ; i++ ) { %>
            <i class="fas fa-star-half-alt"></i>
            <% } %> <% for( let i = 0; i < 5-Math.ceil(posto.media) ;
              i++ ) { %>
            <i class="far fa-star"></i>
            <% } %>
          </div>


        </div>
      </div>
    </div>

    <% }) %>

  </div>
</body>

<%- include("./parts/foot") %>