<%- include('parts/head', {title: 'Meu Posto'}) %>
  <link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
  <link rel="stylesheet" href="../public/stylesheets/servicos.css" />
  <script src="../public/javascripts/servicos.js"></script>
<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">

    <form method="GET">
      <select class="form-control" id="form_serv_number" name="servico">
        <option value="1" >Borracharia</option>
        <option value="2" >Lavagem</option>
        <option value="3" >Conveniência</option>
      </select>
      <button type="submit" class="busca">Buscar</button> 
    </form>

    <section class="container flex">
      
    <% postos.forEach(posto => {  %>
      <div class="card flex">
          <% if
          (posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "").replace(" distribuidora s.a.","") == "petrobras" ||
          posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "") == "ipiranga" ||
          posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "") == "raizen" ||
          posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
          "") == "alesat") { %>
        <div class="img">
          <img class= "logo" src="/images/<%=posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,
            "").replace(" distribuidora s.a.","")%>.png" alt="<%=posto.bandeira%>">
        </div>
        <% } else { %>
        <div class="img">
          <img class="logo" src="/images/branca.png" alt="Branca" />
        </div>
        <% } %>

        <div class="texto">
          <h7><%= posto.nome %></h7><br>
          <%= posto.endereco %>, <%= posto.bairro %>, <%= posto.cidade %>-<%= posto.estado %><br>
         
         
          <div class="stars">
            <span class="d-none">
              <%= posto.media %>
            </span>
            <% for( let i = 0; i < parseInt(posto.media); i++ ) { %>
            <i class="fas fa-star"></i>
            <% } %> <% for( let i = 0; i <
              posto.media-parseInt(posto.media) ; i++ ) { %>
            <i class="fas fa-star-half-alt"></i>
            <% } %> <% for( let i = 0; i < 5-Math.ceil(posto.media) ;
              i++ ) { %>
            <i class="far fa-star"></i>
            <% } %>
          </div>

        </div>
        <div class="preco">
          Preço<br>
          R$ 20.00 
       </div>
      </div>

    <% }) %>

    </div>
  </div>

</body>

<%- include("./parts/foot") %>