<%- include('../parts/head', {title: "Dashboard - Meu Posto"}) %>
<link rel="stylesheet" href="/stylesheets/login.css    " />
<link rel="stylesheet" href="/stylesheets/dashboard-usuario.css" />
<script src="/javascripts/stars.js" defer></script>


<header>
    <%- include('../parts/navbar') %>
</header>

<main>
    <div class="dashboard-container">

        <%- include('../parts/navbar-usuario') %>

        <section id="comentarios" class="comentarios">
            <h2>Meus Comentários</h2>

            <div class="comentarios-container">
                <% user.avaliacoes.forEach(avaliacao => { %>

                <div class="card">
                    <div class="circle">
                        <svg width="100%" height="100%" viewBox="0 0 98 98" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d)">
                                <circle cx="49" cy="45" r="45" fill="white" />
                            </g>
                            <defs>
                                <filter id="filter0_d" x="0" y="0" width="98" height="98" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>


                        <% if (avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","") == "petrobras" ||
                            avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "ipiranga" || 
                            avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "raizen" || 
                            avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "alesat") { %>
                        <div class="img">
                            <img src="/images/<%=avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","")%>.png"
                                alt="<%=avaliacao.bandeira%>">
                        </div>
                        <% } else { %>
                        <div class="img">
                            <img src="/images/branca.png" alt="Branca">
                        </div>
                        <% } %>
                    </div>
                    <form action="avaliacoes/deletar?_method=DELETE" method="POST"
                        onsubmit="return confirm('Tem certeza?')">
                        <input type="hidden" name="id" value="<%=avaliacao.Avaliacoes.postos_id%>">
                        <button id="destroy" type="submit" class="close">
                            <small><i class="far fa-trash-alt"></i></small>
                        </button>
                    </form>


                    <button type="button" class="edit mr-3" data-toggle="modal"
                        data-target="#alterar-avaliacao<%=avaliacao.id%>">
                        <i class="far fa-edit"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade " id="alterar-avaliacao<%=avaliacao.id%>" tabindex="-1" role="dialog"
                        aria-labelledby="alterar-avaliacao" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="modal-body text-center">
                                    <form id="form-posto-<%=avaliacao.id%>" class="rating"
                                        action="avaliacoes/editar?_method=PUT" method="POST">
                                        <label for="text">O que deseja falar sobre esse posto?</label>

                                        <div id="nota-stars-container" class="stars">
                                            <button type="submit" class="star" data-star="1">
                                                <span aria-hidden="true">&#9733;</span>
                                                <span class="screen-reader">1 Star</span>
                                            </button><button type="submit" class="star" data-star="2">
                                                <span aria-hidden="true">&#9733;</span>
                                                <span class="screen-reader">2 Stars</span>
                                            </button><button type="submit" class="star" data-star="3">
                                                <span aria-hidden="true">&#9733;</span>
                                                <span class="screen-reader">3 Stars</span>
                                            </button><button type="submit" class="star" data-star="4">
                                                <span aria-hidden="true">&#9733;</span>
                                                <span class="screen-reader">4 Stars</span>
                                            </button><button type="submit" class="star" data-star="5">
                                                <span aria-hidden="true">&#9733;</span>
                                                <span class="screen-reader">5 Stars</span>
                                            </button>
                                        </div>

                                        <textarea class="form-control" name="texto" id="text" cols="40" rows="5"
                                            placeholder="<%=avaliacao.Avaliacoes.texto%>"></textarea>
                                        <input type="hidden" name="id" value="<%=avaliacao.id%>">

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Fechar
                                            </button>
                                        </div>
                                    </form>
                                    <button class="btn btn-posto salvar-form" type="submit">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="title mt-1">
                            <h5 class="card-title mt-3"> <%= avaliacao.nome %> &mdash;</h5>
                            <span class="card-text"><%= avaliacao.endereco %>, <%= avaliacao.bairro %>,
                                <%= avaliacao.cidade %>-<%= avaliacao.estado %> </span>
                        </div>
                        <div class="produto-avaliacao">
                            <div class="avaliacao-estrelas">

                                <% for( let i = 0; i < parseInt(avaliacao.Avaliacoes["nota"]); i++ ) { %>
                                <i class="fas fa-star"></i>
                                <% } %>

                                <% for( let i = 0; i < avaliacao.Avaliacoes["nota"]-parseInt(avaliacao.Avaliacoes["nota"]) ; i++ ) { %>
                                <i class="fas fa-star-half-alt"></i>
                                <% } %>

                                <% for( let i = 0; i < 5-Math.ceil(avaliacao.Avaliacoes["nota"]) ; i++ ) { %>
                                <i class="far fa-star"></i>
                                <% } %>

                            </div>

                            <div class="avaliacao-comentario">
                                <h6>Comentário:</h6>
                                <p>
                                    <%= avaliacao.Avaliacoes["texto"] %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <% }) %>


            </div>
        </section>


    </div>
</main>




<%- include('../parts/foot') %>