<%- include('../parts/head', {title: "Dashboard - Meu Posto"}) %>
<link rel="stylesheet" href="/stylesheets/login.css    " />
<link rel="stylesheet" href="/stylesheets/dashboard-usuario.css" />

<header>
    <%- include('../parts/navbar') %>
</header>






<main>
    <div class="dashboard-container">

        <%- include('../parts/navbar-usuario') %>

        <section id="comentarios" class="comentarios">
            <h2>Meus Comentários</h2>

            <div class="comentarios-container">
                <% user.avaliacoes.forEach(avaliacao => { %>

                <div class="card">
                    <% if (avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","") == "petrobras" ||
                    avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "ipiranga" || 
                    avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "raizen" || 
                    avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "alesat") { %>
                    <div class="logo-empresa">
                        <img src="/images/<%=avaliacao.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","")%>.png"
                            alt="petrobras">
                    </div>
                    <% } else { %>
                    <div class="logo-empresa">
                        <img src="/images/branca.png" alt="Branca">
                    </div>
                    <% } %>
                    <form action="avaliacoes/deletar?_method=DELETE" method="POST"
                        onsubmit="return confirm('Tem certeza?')">
                        <input type="hidden" name="id" value="<%=avaliacao.id%>">
                        <button id="destroy" type="submit" class="close">
                            <small><i class="far fa-trash-alt"></i></small>
                        </button>
                    </form>


                    <button type="button" class="edit mr-3" data-toggle="modal"
                        data-target="#alterar-avaliacao<%=avaliacao.id%>">
                        <i class="far fa-edit"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade " id="alterar-avaliacao<%=avaliacao.id%>" tabindex="-1" role="dialog"
                        aria-labelledby="alterar-avaliacao" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="modal-body">
                                    <form action="avaliacoes/editar?_method=PUT" method="POST">
                                        <label for="text">O que deseja falar sobre esse posto?</label>
                                        <textarea class="form-control" name="texto" id="text" cols="40"
                                            rows="5"></textarea>
                                        <input type="hidden" name="id" value="<%=avaliacao.id%>">

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-posto btn-secondary"
                                                data-dismiss="modal">
                                                Fechar
                                            </button>
                                            <button class="btn btn-posto" type="submit">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="title">
                            <h5 class="card-title"> <%= avaliacao.nome %> &mdash;</h5>
                            <span class="card-text"><%= avaliacao.endereco %>, <%= avaliacao.bairro %>,
                                <%= avaliacao.cidade %>-<%= avaliacao.estado %> </span>
                        </div>
                        <div class="produto-avaliacao">
                            <div class="avaliacao-estrelas">

                                <% for( let i = 0; i < parseInt(avaliacao.Avaliacoes["nota"]); i++ ) { %>
                                <i class="fas fa-star"></i>
                                <% } %>

                                <% for( let i = 0; i < avaliacao.Avaliacoes["nota"]-parseInt(avaliacao.Avaliacoes["nota"]) ; i++ ) { %>
                                <i class="fas fa-star-half-alt"></i>
                                <% } %>

                                <% for( let i = 0; i < 5-Math.ceil(avaliacao.Avaliacoes["nota"]) ; i++ ) { %>
                                <i class="far fa-star"></i>
                                <% } %>

                            </div>

                            <div class="avaliacao-comentario">
                                <h6>Comentário:</h6>
                                <p>
                                    <%= avaliacao.Avaliacoes["texto"] %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <% }) %>


            </div>
        </section>


    </div>
</main>




<%- include('../parts/foot') %>