<%- include('../parts/head', {title: "Dashboard - Meu Posto"}) %>
<link rel="stylesheet" href="/stylesheets/login.css    " />
<link rel="stylesheet" href="/stylesheets/dashboard-usuario.css" />

<header>
    <%- include('../parts/navbar') %>
</header>

<main>
    <div class="dashboard-container">

        <%- include('../parts/navbar-usuario') %>

        <section id="favoritos" class="favoritos" style="display: block;">

            <h2>Meus Postos Favoritos</h2>
            <div class="favoritos-container">

                <% user.postos.forEach(posto => { %>
                <div class="card">
                    <% if (posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","") == "petrobras" ||
                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "ipiranga" || 
                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "raizen" || 
                    posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == "alesat") { %>
                    <div class="logo-empresa">
                        <img src="/images/<%=posto.bandeira.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").replace(" distribuidora s.a.","")%>.png"
                            alt="petrobras">
                    </div>
                    <% } else { %>
                    <div class="logo-empresa">
                        <img src="/images/branca.png" alt="Branca">
                    </div>
                    <% } %>
                    <form action="favoritos/deletar?_method=DELETE" method="POST"
                        onsubmit="return confirm('Tem certeza?')">
                        <input type="hidden" name="id" value="<%=posto.id%>">
                        <button id="destroy" type="submit" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                    <div class="card-body">
                        <div class="title">
                            <h5 class="card-title"> <%= posto.nome %> &mdash;</h5>
                            <span class="card-text"><%= posto.endereco %>, <%= posto.bairro %>,
                                <%= posto.cidade %>-<%= posto.estado %> </span>
                        </div>
                        <% posto.produtos.forEach(produto => { %>
                        <div class="produto-detalhe">
                            <span class="card-text"><%= produto.nome %> &mdash;</span>
                            <span
                                class="card-text"><%= produto.postos_produtos["preco"].toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.',',') %></span>
                        </div>
                        <% }) %>
                    </div>
                    <a href="#" class="btn btn-success btn-sm ir">Ir </a>
                </div>

                <% }) %>

        </section>


    </div>
</main>

<script>

    // Stores the original url in the local storage
    window.localStorage.setItem('specifiedKey', window.location.href);

    // Cleans the query parameter of a string and replace it in the history API
    const cleanUrl = location.href.match(/^.+(?=\?)/g);
    window.history.replaceState(null, null, (cleanUrl ? cleanUrl[0] : location.href));

    // the history is updated before the window reloads
    window.onbeforeunload = () => {
        window.history.replaceState(null, null, window.localStorage.getItem('specifiedKey'));
    }
</script>
<%- include('../parts/foot') %>